#form{
    font-size: 3rem;
    text-align: center;
    margin: auto;
    width: 80vw;
    height: 8vh;
}
#form input{
    font-size: 3rem;
    margin: 10px;
}

#form button{
    /* display: block; */
    margin: auto;
    font-size: 2rem;
    padding: 3px;
    cursor: pointer;
    background-color: rgb(198, 225, 231);
    border: none;
    border-radius: 5%;
    transition: 0.2s;
}
button:hover{
    background-color: rgb(248, 241, 176);
   
}