div.task span{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    padding: 10px;
}
div.task{
   
    text-align: center;
    width: 70vw;
    margin: auto;
    margin-bottom: 5px;
    background-color: rgb(209, 209, 209);
}
.task button{
    border: none;
    padding:5px;
    height: 27px;
    margin-left: 15px;
    cursor: pointer;
}